/* Write your custom CSS here */
body, p {
    font-size: 12px;
}
.btn {
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 0;
}

input[type="text"], select.form-control, textarea.form-control {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
}

.menu.accordion-menu>li.active{
    border-bottom: 3px solid blue;
}
.menu.accordion-menu>li {
    border-left: 0px solid transparent;
}
 
 
.profile-info-value {
    color: #000;
    display: inline-block;
    margin-left: 40px;
}
  
.container {
    width: 90%; 
}

.panel .panel-body {
    padding: 5px;
}
.tab-content {
    padding: 5px;
    background: #fff;
}
.page-horizontal-bar.compact-menu .menu.accordion-menu ul li a {
    padding: 10px 5px;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    /*color: #fff;
    background-color: #08A7C3;*/
    border-color: transparent;
}

#main-wrapper {
    margin-top: 0px;
    margin-bottom: 20px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px;
}
