/* Write your custom CSS here */

.menu.accordion-menu>li.active{
    border-bottom: 3px solid blue;
}
.menu.accordion-menu>li {
    border-left: 0px solid transparent;
}
 
 
.profile-info-value {
    color: #000;
    display: inline-block;
    margin-left: 40px;
}
  
.container {
    width: 90%; 
}

.panel .panel-body {
    padding: 5px;
}
.tab-content {
    padding: 5px;
    background: #fff;
}