/* Write your custom CSS here */

body, p {
    font-size: 12px;
    font-family: 'Roboto', helvetica, arial, sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
th {
    text-align: left;
    font-size: 11px;
}
td {
    font-size: 11px;
}
.btn {
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 0;
}
.seperated_line{
    padding:3px;
    border-bottom:1px solid #eee;
}

input[type="text"],input[type="number"], select.form-control, textarea.form-control, input[type="password"],input[type="date"] {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.menu.accordion-menu>li.active{
    border-bottom: 3px solid #12AFCB;
}
.menu.accordion-menu>li {
    border-left: 0px solid transparent;
}
 
.profile-info-value {
    color: #000;
    display: inline-block;
    margin-left: 40px;
}
  
.container {
    width: 100%;
    background: #eee;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-weight: 300;
}
.topmenu-outer{
    background: #eee;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-weight: 300;

}
.page-inner {
    padding: 0 0 50px;
    background: #eee;
    position: relative;
}
.panel .panel-body {
    padding: 5px;
}
.panel-body {
    padding: 15px;
}
.panel {
    margin-bottom: 0px;
}
.tab-content {
    padding: 5px;
    background: #fff;
}
.page-horizontal-bar.compact-menu .menu.accordion-menu ul li a {
    padding: 10px 5px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
    float: right;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    /*color: #fff;
    background-color: #08A7C3;*/
    border-color: transparent;
}

#main-wrapper {
    margin-top: 0px;
    margin-bottom: 30px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px;
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

.form-group {
    margin-bottom: 5px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.compact-menu .horizontal-bar .accordion-menu li a p {
    display: inline;
    font-size: 12px;
    font-weight: 500;
}
.menu.accordion-menu ul li a:hover, .menu.accordion-menu ul li.active a, .menu.accordion-menu>li.active.open>a, .menu.accordion-menu>li.active>a, .menu.accordion-menu>li.open>a, .menu.accordion-menu>li>a:hover {
    color: #12AFCB;
}
.badge.badge-success {
    background: red;
    color: #ffffff;
}
.modal-header {
    padding: 10px;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0!important;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    background: #12AFCB;
    color: #ffffff;
}
.img{
    height:50px;width:50px; border-radius: 50px
}
.result_search{
    border-left:0px solid #EEE; padding-top: 5px; margin-bottom: 15px;
    border-bottom:1px solid #EEE;
    border-top:1px solid #EEE;
    border-right:1px solid #EEE;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.result_search:hover{
    border-bottom:1px solid #EEE;
    background-color:#eeeeee;
}
.form-login-error {
    color: #b62020;
    padding: 10px;
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.login-page .login-progressbar {
    height: 0px;
    width: 100%;
    overflow: hidden;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}